html,
body {
  margin: 0px;
  height: 100vh;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.logo {
  align-self: stretch;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
